config SHIELD_GALENA_DONGLE
	def_bool $(shields_list_contains,galena_dongle)

config SHIELD_GALENA_LEFT
    def_bool $(shields_list_contains,galena_left)

config SHIELD_GALENA_RIGHT
    def_bool $(shields_list_contains,galena_right)
